<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <p class="description">This is starter app which will help you to integrate Google Plus login, FCM and Ads Banner</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="primary" expand="block" (click)="doGoogleLogin()">
        LOG IN WITH GOOGLE
      </ion-button>

      <ion-button class="log-in-button" color="secondary" expand="block" (click)="showAdBanner()">
        Show Ad Banner
      </ion-button>

      <ion-button class="log-in-button" color="warning" expand="block" (click)="showInterstitial()">
        Show Interstitial
      </ion-button>
    </ion-col>
    <ion-label>Design and Developed by Kundan</ion-label>
  </ion-row>
</ion-content>